node_modules
package-lock.json
.env

# Hardhat
/cache
/artifacts

# TypeChain
/typechain
/typechain-types

# Coverage
/coverage
/coverage.json

# Build output
/out
/dist
/bin

# Ethers deployments
deployments

# Local scripts
scripts/local

# IDE
.vscode/
.idea/

# OS
.DS_Store

# CLOC
.clocignore
