node_modules
.env

# compilation artifacts (windows)
/bin

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Ethers deployments
deployments
